.table {
    background: #ccc;
    border-radius: 5px;
    margin: 20px auto;
}

.thead {
    height: 50px;
    background: #fff;
    font-weight: 600;
}

.missionList:nth-child(odd) {
    background: #eee;
}

.missionList:nth-child(even) {
    background: #fff;
}

td {
    padding: 10px;
}