.container_fluid {
  width: 100%;
}

.header {
  background: #f8f8f8;
}

.container {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.brand img {
  width: 54px;
}
